.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.pesron {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 400px;
}

.avatar {
    width: 80%;
    height: 260px;
    margin-top: 20px;
}

.name {
    font-size: 18px;
    text-align: center;
}

.position {
    margin: 20px 0 10px 0;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

@media(max-width: 1000px){
    .gallery{
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    }
}

@media(max-width: 768px){
    .gallery{
        grid-template-columns: 1fr;
    }
}